{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .rules {
            text-align: start;
        }

        .styled-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 2px solid #111111;
            border-radius: 4px;
            font-size: 16px;
            outline: none;
            transition: border-color 0.3s;
        }

        .styled-input::placeholder {
            color: #95a5a6;
        }

        .styled-input:focus {
            border-color: #3498db;
        }

        .styled-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .errorMessage {
            color: #FF0000;
        }

        .score {
            color: #008855;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Write your word</h2><br>
        <p id="message" class="errorMessage"></p><br>
        <input type="text" name="word" id="word" class="styled-input">
        <input type="button" name="submit" value="Check" class="styled-button" onclick="loadDoc()">
        <br><br>
        <p id="score" class="score"></p>

        <div class=rules>
            <h3>Scoring rules</h3>
                <p>- 1 point for each unique letter.</p>
                <p>- 3 extra points if the word is a palindrome.</p>
                <p>- 2 extra points if the word is “almost palindrome”. </p>
                <p>
                    Definition of “almost palindrome”: if by removing at most one letter from the word, the word will be a true palindrome.
                </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function loadDoc() {
            let word = document.getElementById('word').value;

            const xhttp = new XMLHttpRequest();
            xhttp.onload = function()
            {
                if (this.status === 200)
                {
                    let score = 'Your score is: ';
                    document.getElementById("score").innerHTML = score + JSON.parse(this.responseText).score;
                    document.getElementById("message").innerHTML = "";
                }
                else
                {
                    document.getElementById("message").innerHTML = JSON.parse(this.responseText).message;
                    document.getElementById("score").innerHTML = "";
                }
            }
            xhttp.open("GET", "/api/score/"+word, true);
            xhttp.send();
        }
    </script>
{% endblock %}
